body {
    font-family: 'Manrope', sans-serif;
    color: #1F2533;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    line-height: 56px;
    vertical-align: middle;
    background-color: #F7F4FE;
}

.headerLogo {
    display: flex;
}

.header__right {
    display: flex;
    font-size: 14px;
}

.headerLogo__logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 16px 6px 16px 16px;
}

.headerLogo__compayer {
    width: 73px;
    height: 9px;
    margin: 23px 0px 24px 0px;
}

.headerMenu {
    list-style: none;
    margin: 0 24px 0 0;
    padding-left: 0;
    display: flex;
}

.headerMenu__link,
.headerSignIn__link {
    text-decoration: none;
    display: block;
    margin: 0 12px 0 12px;
    color: black;
}

/*
.up__item_current .item  {
    color: #9BA0A5;
}
*/

.header__line,
.headerSignIn {
    margin-right: 24px;
}

.headerSignIn__button {
    width: 130px;
    height: 40px;
    border: 1px solid #7171F5;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    text-align: center;
    vertical-align: middle;
    color: #7171F5;
    font-family: Manrope;
    font-weight: bold;
    background-color: #F7F4FE;
    padding: 0 10px;
    margin: 8px 43px 8px 0;
}

.header__cutMenu {
    display: none;
}

.page-content {
    margin: 0 13%;
}

.page-content.up-content {
    display: flex;
}

.coloredBlock {
    display: flex;
    background-color: #F7F4FE;
}

.coloredBlock__column1 {
    margin-right: 4%;
    width: 43%;
}

.coloredBlock__column2 {
    width: 53%;
}

.coloredBlockColumn2__img {
    max-width: 100%;
    min-width: 328px;
    margin: 202px 0;
}

.coloredBlockWhatIs__headline {
    margin-top: 232px;
    margin-bottom: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
}

.coloredBlockWhatIs__headline_lilac {
    color: #7171F5;
}

.coloredBlockWhatIs__definition {
    margin: 16px 0 24px 0;
    padding: 0;
    font-size: 16px;
}

.coloredBlock__startButton {
    text-align: center;
    margin-right: 8px;
    width: 130px;
    height: 40px;
    border-radius: 3px;
    background-color: #7171F5;
    border: 1px solid #7171f5;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.coloredBlock__demoButton {
    text-align: center;
    width: 103px;
    height: 40px;
    border-radius: 3px;
    color: #7171F5;
    border: 1px solid #7171f5;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.coloredBlockConnection {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 40px 0 238px 0;
}

.coloredBlockConnection__whiteBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    margin-right: 8px;
    flex-shrink: 0;
}

.coloredBlockConnection__connectDefinition {
    width: 62%;
    font-size: 12px;
    margin: 0;
}

.textsBlock__columns {
    display: flex;
    margin-top: 104px;
}

section {
    margin: 0;
    margin-bottom: 6px;
}

section:not(:first-child),
section:not(:first-child) {
    margin-top: 32px;
}

.textsBlockColumn2__headline,
.textsBlockColumn3__headline {
    padding: 0;
    font-weight: bold;
    font-size: 16px;
}

.textsBlockColumn2__definition,
.textsBlockColumn3__definition {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.textsBlockColumn1 {
    width: 26%;
    margin-right: 10%;
    font-weight: bold;
    font-size: 24px;
}

.textsBlockColumn1__headline {
    margin: 0;
    padding: 0;
}

.textsBlockColumn2 {
    width: 27%;
    margin-right: 10%;
}

.textsBlockColumn3 {
    width: 27%;
}

.textsBlockBanner {
    margin: 80px auto 0 auto;
    display: flex;
    width: 672px;
    height: 124px;
    background: #1F1F47;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    justify-content: space-around;
}

.textsBlockBanner__img {
    width: 8%;
    height: 35%;
    margin: 41px 0 0 0;
}

.textsBlockBannerText {
    max-width: 37%;
}

.textsBlockBanner__headline {
    margin: 24px 0 0 0px;
    font-size: 16px;
}

.textsBlockBanner__definition {
    padding-top: 4px;
    margin: 0;
    font-size: 14px;
}

.textsBlockBannerButtons {
    display: flex;
}

.textsBlockBannerButtons__demoButton {
    margin-top: 42px;
    margin-right: 8px;
    text-align: center;
    width: 103px;
    height: 40px;
    border-radius: 3px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.textsBlockBannerButtons__startButton {
    margin-top: 42px;
    text-align: center;
    width: 130px;
    height: 40px;
    border-radius: 3px;
    background-color: #7171F5;
    border: 1px solid #7171f5;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.footerLogo__logo {
    display: block;
    margin: 80px auto 10px auto;
    width: 24px;
    height: 24px;
}

.footerLogo__compayer {
    margin: 0 auto;
    display: block;
    width: 73px;
    height: 9px;
}

.footerMenu__link {
    text-decoration: none;
    display: block;
    margin: 0 12px 0 12px;
    color: black;
}

.footerMenu {
    list-style: none;
    margin: 25px 0 24px 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.footerCopyright {
    font-size: 12px;
    line-height: 18px;
    margin: 24px 0 24px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #9BA0A5;
}